* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  padding-top: 109px;
}

a {
  display: block;
}

h1, h2, h3, h4 {
  font-family: "DM Serif Display";
  color: #2F2C33;
}

p {
  font-family: "Karla";
  line-height: 28px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container--header {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.container--footer {
  position: relative;
  background-color: #FAFAFA;
  height: 524px;
}
.container--footer__watermark {
  position: absolute;
  left: 0;
  z-index: 0;
  height: 55%;
}

.header {
  font-family: "Karla";
  width: 1480px;
  height: 109px;
  background-color: white;
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 24px;
}
.header__logo img {
  height: 100%;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  font-size: 18px;
  display: block;
  color: black;
  margin-left: 36px;
}

.button {
  font-size: 18px;
  color: white;
  background-color: #2B282F;
  border: none;
  padding: 17px 49px;
  margin-left: 58px;
  height: 53px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.button--cta {
  background-color: white;
  color: black;
  margin: 0;
  font-weight: 500;
}

.hero {
  background-color: #2C2640;
  height: 798px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 139px 0 0 0;
  position: relative;
}
.hero__section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 40px;
  width: 1480px;
}
.hero__right {
  width: 48%;
}
.hero__img {
  width: 100%;
  height: auto;
}
.hero__left {
  width: 48%;
}
.hero__line {
  height: 2px;
  width: 200px;
  background-color: white;
  margin-bottom: 62px;
}
.hero__title {
  font-family: "DM Serif Display";
  font-size: 95px;
  line-height: 85px;
  font-weight: 400;
  margin-bottom: 42px;
  color: white;
}
.hero__tagline {
  font-family: "Karla";
  font-size: 21px;
  line-height: 34px;
  font-weight: 400;
  margin-bottom: 46px;
  color: white;
}
.hero__watermark {
  position: absolute;
  top: 0;
  right: 0;
  height: 90%;
}
.hero__watermark--left {
  position: absolute;
  left: 0;
  bottom: -370px;
  height: 80%;
}

.different {
  width: 1480px;
  padding-top: 406px;
  margin: 0 40px 218px;
}
.different__line {
  width: 200px;
  height: 2px;
  background-color: #B0A4B2;
  margin-bottom: 96px;
}
.different__title {
  font-size: 95px;
  font-family: "DM Serif Display";
  margin-bottom: 100px;
}
.different__3rows {
  display: flex;
  justify-content: space-between;
}
.different__1row {
  width: 30%;
}
.different__rowIcon {
  margin-bottom: 40px;
  width: 115px;
}
.different__rowIcon img {
  width: 100%;
}
.different__rowTitle {
  font-size: 36px;
  margin-bottom: 18px;
}
.different__rowParagraph {
  font-size: 20px;
  color: #7E7E80;
  font-weight: 600;
}

.work {
  width: 1480px;
  max-width: 1480px;
  height: 333px;
  background-color: #2C2640;
  margin: 0 40px 200px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.work__watermark {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 0;
}
.work__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px;
}
.work__title {
  font-size: 75px;
  line-height: 75px;
  font-weight: 400;
  color: white;
}

.footer {
  display: flex;
  width: 1480px;
  position: relative;
  margin: 0 40px;
  flex-direction: column;
  justify-content: center;
}
.footer__socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.footer__socialsIcons {
  display: flex;
}
.footer__icon {
  margin-left: 23px;
  height: 33px;
  width: 33px;
}
.footer__icon img {
  width: 100%;
  height: auto;
}
.footer__icon img:hover {
  fill: #2C2A2F;
}
.footer__nav {
  border-top: 1px solid #D9D9D9;
  padding-top: 63px;
  display: flex;
}
.footer__row {
  width: 25%;
}
.footer__row p {
  font-size: 19px;
  color: #7c7c7c;
  font-weight: 500;
  margin-bottom: 45px;
}
.footer__link {
  font-family: "Karla";
  color: #1F1D28;
  font-weight: 700;
  margin-bottom: 18px;
}
.footer__link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
