*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding-top: 109px;
}

a{
    display: block;
}
h1, h2, h3, h4{
    font-family: "DM Serif Display";
    color: #2F2C33;
}

p{
    font-family: "Karla";
    line-height: 28px;
}