.button{
    font-size: 18px;
    color: white;
    background-color: #2B282F;
    border: none;
    padding: 17px 49px;
    margin-left: 58px;

    height: 53px;

    position: relative;

    cursor: pointer;

    white-space: nowrap;

    &--cta{
        background-color: white;
        color: black;
        margin: 0;
        font-weight: 500;
    }
}