.header{
    font-family: 'Karla'; 

    width: 1480px;
    height: 109px;
    background-color: white;

    margin: 0 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        height: 24px;

        img{
            height: 100%;
        }
    }
    
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link{
        font-size: 18px;
        display: block;
        color: black;
        margin-left: 36px;
    }
}