.hero{
    background-color: #2C2640;
    height: 798px;
    width: 100%;

    padding: 139px 220px 0;
    color: white;

    &__section{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__right{
        width: 719px;
    }

    &__img{
        width: 100%;
        height: auto;
    }

    &__left{
        width: 719px;
    }

    &__line{
        height: 2px;
        width: 200px;

        background-color: white;

        margin-bottom: 62px;
    }

    &__title{
        font-family: "DM Serif Display";
        font-size: 95px;
        line-height: 85px;
        font-weight: 400;

        margin-bottom: 42px;
    }

    &__tagline{
        font-family: "Karla";
        font-size: 21px;
        line-height: 34px;
        font-weight: 400;

        margin-bottom: 46px;
    }

    &__watermark{
        position: absolute;
        top: 6px;
        right: 0;
        height: 80%
    }
}