.hero{
    background-color: #2C2640;
    height: 798px;
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 139px 0 0 0;

    &__section{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 40px;

        width: 1480px;
    }

    &__right{
        width: 48%;
    }

    &__img{
        width: 100%;
        height: auto;
    }

    &__left{
        width: 48%;
    }

    &__line{
        height: 2px;
        width: 200px;

        background-color: white;

        margin-bottom: 62px;
    }

    &__title{
        font-family: "DM Serif Display";
        font-size: 95px;
        line-height: 85px;
        font-weight: 400;

        margin-bottom: 42px;

        color: white;
    }

    &__tagline{
        font-family: "Karla";
        font-size: 21px;
        line-height: 34px;
        font-weight: 400;

        margin-bottom: 46px;

        color: white;
    }

    &__watermark{
        position: absolute;
        top: 6px;
        right: 0;
        height: 40vw;
    }

    &__watermark--left{
        position: absolute;
        left: 0;
        bottom: -370px;
        height: 40vw;
    }
}