.work{
    width: 1480px;
    max-width: 1480px;
    height: 333px;
    background-color: #2C2640;

    margin: 0 40px 200px 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &__watermark{
        position: absolute;
        right: 0;
        height: 100%;

        z-index: 0;
    }

    &__container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 110px;
    }

    &__title{
        font-size: 75px;
        line-height: 75px;
        font-weight: 400;
        color: white; 
    }
}