.container{
    width: 100%;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    &--header{
        background-color: white;
        position: absolute;
        top:0;
        right:0;
        left:0; 

        z-index: 1;
    }

    &--footer{
        position: relative;
        background-color: #FAFAFA;
        height: 524px;

        &__watermark{
            position: absolute;
            left: 0;
            z-index: 0;
            height: 55%;
        }
    }
}